@model PointOfSaleManagementApp.ViewModels.PurchaseViewModel
@{
    ViewBag.Title = "PurchaseIn";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-md-10" style="background-color: #22BAA0;">
    <div class="row">
        <h1 class="panel-title" style="margin: 5px; color: black; font-size: 25px;">
            <b>Purchase Product</b>
        </h1>
        <div class="title">
            <ol class="breadcrumb" style="background-color: #22BAA0; margin-bottom: 10px; font-size: 15px;">
                <li><a href="#">Home</a></li>
                <li class="active">Action"</li>
            </ol>
        </div>
        <hr style="margin-top: 4px; margin-bottom: 5px;" />
    </div>
    <div class="row" style="background-color: white">
        @using (Html.BeginForm("PurchaseIn", "Purchase", FormMethod.Post))
        {
        @Html.AntiForgeryToken()
        <div class="form-horizontal" style="margin-top: 25px; margin-right: 8px;">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="col-md-10">
                <div class="form-group">
                    @Html.LabelFor(model => model.Date, htmlAttributes: new { @class = "col-sm-2 control-label" })
                    <div class="col-sm-10">
                        @Html.EditorFor(model => model.Date, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Date, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.InvoiceNo, htmlAttributes: new { @class = "col-sm-2 control-label" })
                    <div class="col-sm-10">
                        @Html.EditorFor(model => model.InvoiceNo, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.InvoiceNo, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.SupplierId, htmlAttributes: new { @class = "col-sm-2 control-label" })
                    <div class="col-sm-10">
                        @Html.DropDownListFor(model => model.SupplierId, new SelectList(Model.Suppliers, "Id", "Name"), "Select Supplier", new {@class = "form-control"})
                        @Html.ValidationMessageFor(model => model.SupplierId, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="col-md-10">
                <div class="row" style="margin-left: 42px; margin-right: -310px;">
                    <div class="col-md-5">
                        <div class="form-group">
                            @Html.Label("Category", htmlAttributes: new { @class = "col-sm-2 control-label" })
                            <div class="col-sm-10">
                                @Html.DropDownList("CategoryDropDown", new SelectList(Model.Categories, "Id", "Name"), "Select Category", new { @class = "form-control", id = "categoryDD" })
                                @Html.ValidationMessage("Category", "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.Label("Products", htmlAttributes: new { @class = "col-sm-2 control-label" })
                            <div class="col-sm-10">
                                @Html.DropDownList("ProductDropDown", null, new { @class = "form-control", id = "productDD" })
                                @Html.ValidationMessage("Products", "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.Label("Product Code", htmlAttributes: new { @class = "col-sm-2 control-label" })
                            <div class="col-sm-10">
                                @Html.Editor("ProductCodeText", new { htmlAttributes = new { @class = "form-control",id="productCodeTB" } })
                                @Html.ValidationMessage("Code", "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.Date, htmlAttributes: new { @class = "col-sm-2 control-label" })
                            <div class="col-sm-10">
                                @Html.EditorFor(model => model.Date, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Date, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.Date, htmlAttributes: new { @class = "col-sm-2 control-label" })
                            <div class="col-sm-10">
                                @Html.EditorFor(model => model.Date, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Date, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="form-group">
                            @Html.LabelFor(model => model.Date, htmlAttributes: new { @class = "col-sm-2 control-label" })
                            <div class="col-sm-10">
                                @Html.EditorFor(model => model.Date, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Date, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.Date, htmlAttributes: new { @class = "col-sm-2 control-label" })
                            <div class="col-sm-10">
                                @Html.EditorFor(model => model.Date, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Date, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.Date, htmlAttributes: new { @class = "col-sm-2 control-label" })
                            <div class="col-sm-10">
                                @Html.EditorFor(model => model.Date, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Date, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.Date, htmlAttributes: new { @class = "col-sm-2 control-label" })
                            <div class="col-sm-10">
                                @Html.EditorFor(model => model.Date, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Date, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.Date, htmlAttributes: new { @class = "col-sm-2 control-label" })
                            <div class="col-sm-10">
                                @Html.EditorFor(model => model.Date, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Date, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.Date, htmlAttributes: new { @class = "col-sm-2 control-label" })
                            <div class="col-sm-10">
                                @Html.EditorFor(model => model.Date, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Date, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <div class="col-md-10">
                        <div class="form-group">
                            @Html.LabelFor(model => model.Date, htmlAttributes: new { @class = "col-sm-2 control-label" })
                            <div class="col-sm-10">
                                @Html.EditorFor(model => model.Date, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Date, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <div class="col-md-10">
                        <div class="form-group">
                            <div class="col-md-offset-1 col-md-10" style="margin-left: 152px;">
                                <input type="button" value="Added" id="addButton" class="btn btn-success" style="width: 200px; font-size: 15px;" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-10">
                <table class="table table-bordered table-striped table-hover table-responsive">
                    <thead>
                        <tr>
                            <th>SL</th>
                            <th>Product(Code)</th>
                            <th>Manufactured Date</th>
                            <th>Expire Date</th>
                            <th>Quantity</th>
                            <th>Unit Price(Tk)</th>
                            <th>Total Price(Tk)</th>
                            <th>New MRP(Tk)</th>
                            <th>Remark</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody id="tbProductPurchase">

                    </tbody>
                </table>
            </div>
        </div>
        }
    </div>
</div>








<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.js"></script>
<script src="~/scripts/apps/Purchase-product-add.js"></script>
@*<script>
    

    $(document).ready(function () {
        $("#categoryDD").change(function () {
            var selectedCategoryId = $("#categoryDD").val();
            var jsonData = { categoryId: selectedCategoryId };

            $.ajax(
                {
                    url: "/Product/GetByCategory",
                    data: jsonData,
                    type: "POST",
                    success: function (response) {
                        $("#productDD").empty();
                        var options = "<option >Select...</option>";
                        $.each(response,
                            function (key, product) {
                                options += "<option value='" + product.Id + "'>" + product.Name + "</option>"
                            });

                        $("#productDD").append(options);

                    },
                    error: function (response) {

                    }

                });
        });

</script>*@

